<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warehouse">
            <h2><span>Warehouse</span> {{ warehouse.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Warehouse Name</span></dt>
                <dd>
                    <span>{{ warehouse.warehouseName }}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{ warehouse.postalCode }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ warehouse.phoneNumber }}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="warehouse.locationId">
                        <a [routerLink]="['/location', warehouse.locationId, 'view']">{{ warehouse.locationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/warehouse', warehouse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
